.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer-logo {
  margin-right: auto;
  font-family: "Instrument Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #091f80;
}

.footer-links {
  display: flex;
  gap: 1.25rem; /* spacing between links */
  list-style: none; /* remove bullets */
  padding: 0;
  margin: 0;
}

.footer-links li {
  white-space: nowrap; /* prevent wrapping inside items */
  font-family: "Instrument Sans", sans-serif;
  color: #091f80;
  font-size: 1em;
  font-weight: 300;
  padding-right: 1.5em;

  a {
    color: #091f80;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
