.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #ddd;

  thead {
    background-color: #f2f2f2;
    color: #333;
    th {
      padding: 12px;
      text-align: left;
      border-bottom: 2px solid #ddd;
      font-weight: bold;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }
      &:hover {
        background-color: #f1f1f1;
      }
      td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
      }
    }
  }
}
