.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  color: #091f80;
  font-size: 64px;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  margin: 1em 0;
}
