.container {
  width: 100%;
  max-width: 82.5rem; /* 1320px */
  margin-inline: auto;
  padding-inline: 3.25rem; /* 52px */
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding-inline: 1.25rem;
  }
}
