.link-button {
  min-width: 80px;
  padding: 1em 1.5em;
  background: #efefef;
  border-radius: 0.375em;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;

  &:hover {
    text-decoration: underline;
    background-color: #eaeaea;
  }
}

.primary {
  background: #091f80;
  color: #fefef4;
  border: none;
  border-radius: 0.375em;
  padding: 1em 1.5em;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid #091f80;

  &:hover {
    background: #fefef4;
    color: #091f80;
  }
}
