.btn {
  min-width: 80px;
  padding: 1em 2.5em;
  border-radius: 0.375em;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Instrument Sans", sans-serif;
}

/* Primary */
.primary {
  background: #091f80;
  color: #fefef4;
  border: 2px solid #091f80;

  &:hover {
    background: #fefef4;
    color: #091f80;
  }
}

/* Secondary */
.secondary {
  background: #fefef4;
  color: #091f80;
  border: 2px solid #091f80;

  &:hover {
    background: #091f80;
    color: #fefef4;
  }
}

/* Tertiary */
.tertiary {
  background: transparent;
  color: #091f80;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}
