.cluster {
  display: flex;
  flex-wrap: wrap;
}

.noWrap { flex-wrap: nowrap; }

.alignStart    { align-items: flex-start; }
.alignCenter   { align-items: center; }
.alignEnd      { align-items: flex-end; }
.alignBaseline { align-items: baseline; }
.alignStretch  { align-items: stretch; }

.justifyStart   { justify-content: flex-start; }
.justifyCenter  { justify-content: center; }
.justifyEnd     { justify-content: flex-end; }
.justifyBetween { justify-content: space-between; }
.justifyAround  { justify-content: space-around; }
.justifyEvenly  { justify-content: space-evenly; }
