---
import AuthenticatedLayout from "../layouts/AuthenticatedLayout.astro";
import { ImageToPdf } from "../components";

if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}
---
<AuthenticatedLayout>
  <div>
    <h1>Convert Images to PDF</h1>
    <ImageToPdf client:load/>
  </div>
</AuthenticatedLayout>