---
import Layout from "../layouts/Layout.astro";
import {
  HomeCta,
  Footer,
  Header,
  Operations,
  Pricing,
  Testimonials,
  HowItWorks,
  Faqs,
} from "../components";
import { fetchCms } from "../utils/lib/cms";
import { type Faq } from "../utils";

type FaqResponse = {
  data: {
    allFaqs: Faq[];
  };
};

const faqResponse: FaqResponse = await fetchCms<FaqResponse>("faqs");
const faqs = faqResponse.data.allFaqs;
---

<Layout>
  <div class="container">
    <HomeCta />
    <div class="alternate">
      <Operations />
    </div>
    <Testimonials />
    <div class="alternate">
      <HowItWorks />
    </div>
    <Pricing />
    <div class="alternate">
      <Faqs client:load items={faqs} />
    </div>
  </div>
</Layout>
