---
import Layout from "../layouts/Layout.astro"
import { Button } from "../components";
import { fetchCms } from "../utils/lib/cms";

type Faq = {
  title: string;
  content: string;
};

type FaqResponse = {
  data: {
    allFaqs: Faq[];
  }
};

const faqResponse: FaqResponse = await fetchCms<FaqResponse>('faqs');
const faqs = faqResponse.data.allFaqs;
---
<Layout>
  <div class="container">
    <h1>PDF Craft</h1>
    <h2>A complete online PDF management tool</h2>
    <div class="button-container">
      <Button type="linkButton" text="Sign-in" url="/signin" />
      <Button type="linkButton" text="Sign-up" url="/signup" />
    </div>
    <div>
      <h2>Frequently Asked Questions</h2>
      {faqs.map((faq) => (
        <div>
          <h3>{faq.title}</h3>
          <p>{faq.content}</p>
        </div>
      ))}
    </div>
  </div>
</Layout>

<style>
  .button-container {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>