---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <h2>Payment Successful</h2>
    <button onclick="window.location.href='/dashboard'"
      >Back to Dashboard</button
    >
  </div>
</Layout>
