.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .container-heading {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    margin-top: 1em;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 100;
    color: #091f80;
  }
}
.dropzone-container {
  border: 2px dashed #091f80;
  background-color: #fbfbe3;
  color: #091f80;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding: 2em;
  border-radius: 8px;
  margin: 1em 4em;
}

.sortable-item {
  padding: 1em 2em;
  margin: 0.75em 4em;
  border: 2px solid #091f80;
  border-radius: "4px";
  background-color: #fefef4;
  display: flex;
  justify-content: space-between;
  font-family: "Instrument Sans", sans-serif;
  font-size: 20px;
  color: #091f80;
  border-radius: 8px;
  align-items: center;
}
