.user-file-list {
  a {
    color: #091f80;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
