.user-file-list {
  h2 {
    color: #091f80;
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
  }

  a {
    color: #091f80;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
