---
import Layout from "./Layout.astro";
import { Header, Footer } from "../components";
import "../styles/layout.css";
---

<Layout>
  <div class="authenticated-container">
    <Header client:load />
    <div class="app-container">
      <slot />
    </div>
    <Footer />
  </div>
</Layout>
