---
import "../styles/global.css";
import { Header, Footer } from '../components'
const SITE_KEY = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PDF Craft</title>
    <meta
      name="google-site-verification"
      content="RTymfG9lAPowVx8zPgKlrhrccN8Ysk_Mbc7Kp_hfDUA"
    />
    <script
      src={`https://www.google.com/recaptcha/api.js?render=${SITE_KEY}`}
      defer></script>
  </head>
  <body>
    <div class="app">
      <Header client:load/>
      <slot />
      <Footer />
    </div>
  </body>
</html>
